APP_PORT={{ time_tracker_app_port }}

RAILS_LOG_TO_STDOUT={{ time_tracker_rails_log_to_stdout }}
RAILS_ENV={{ time_tracker_rails_env }}
NODE_ENV={{ time_tracker_node_env }}

DB_NAME={{ time_tracker_vault_db_name }}
DB_USERNAME={{ time_tracker_vault_db_username }}
DB_PASSWORD={{ time_tracker_vault_db_password }}
DB_HOSTNAME={{ time_tracker_vault_db_hostname }}
